.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    border: 1px dotted black;
    align-items: center; /* stretch start end center */
    justify-items: center; /* stretch start end center */
}
  
.grid-item-1 {
    /* align-self: center;
    justify-self: center; */ /* stretch start end center */
}